@import '../../../pages/Forum//scss/systemcolor';
.forumPage {
  $season-green: #cde2d0;
  $grey-grey: #979d9d;

  .HotArticle-card {
    min-width: 370px;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .HotArticle-title {
      @extend %title-module;
      &:before {
        content: '';
        font-size: 1.1rem;
        border: 3px solid $Darjeeling;
        margin-right: 10px;
      }
    }
    .nickname {
      color: $Darjeeling;
    }
    .tilte-line {
      background: $grey-grey;
      height: 2px;
      width: 80%;
      margin: 10px 0 10px 0;
    }
    .padding-frame {
      .HotArticle-item {
        margin-bottom: 24px;
        width: 280px;

        .fm-title {
          width: 230px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .counter {
          font-size: 34px;
          margin-right: 16px;
          color: $grey-grey;
        }
        .time {
          font-size: 0.8rem;
          margin-right: 16px;
          color: $grey-grey;
        }
      }
    }
  }
}
