@import '../../color.scss';
.acPage {
  .banner {
    height: 500px;
    background-size: cover;
    background-position: center center;
    @media (max-width: $pad-media) {
      height: 300px;
    }
    @media (max-width: $phone-media){
      height: 200px;
    }
  }

  h1 {
    font-weight: 600;
    font-size: 2rem;
    color: #444;
  }

  .booksRowInfo {
    display: block;
    // border-bottom: 1px solid #ccc;
  }

  .recommend {
    border-top: 1px solid #ccc;
    figure {
      height: 250px;
      div {
        height: 200px;
        background-origin: content-box;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
  section.books{
    border-top:1px solid #ccc;
  }
  
}
