$black-tea: #2d3a3a;
$season-green: #cde2d0;
$grass-yellow: #ffc408;
$grey-grey: #979d9d;
$grey-grey50: #979d9d80;
$Darjeeling: #ff525b;
$deepsea: #58b2dc;

%card-module {
  border-radius: 5px;
  box-shadow: 3px 3px 10px #ccc;
  background-color: #ffffff;
  //@extend %card-module;
}
%title-module {
  font-size: 1.6rem;
  font-weight: bold;
  //@extend %title-module;
}

%card-title-font {
  font-size: 1.6rem;
  font-weight: 600;
  color: $black-tea;
  //@extend %card-title-font;
}

%card-subtitle-font {
  font-size: 1rem;
  color: $grey-grey;
  //@extend %card-subtitle-font;
}
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 24px;
}

.displayBlock {
  display: block;
}
.displayNone {
  display: none;
}
.displayInlineBlock {
  display: inline-block;
}
.position-r {
  position: relative;
}
.position-a {
  position: absolute;
}
.dis-flex {
  display: flex;
}
.dis-flex-between {
  justify-content: space-between;
}
.dis-justify-center {
  justify-content: center;
}
.flex-align-center {
  align-items: center;
}
.container {
  max-width: 1200px;
}
.container-m {
  max-width: 900px;
}
.cursor-pointer {
  cursor: pointer;
}
