@import './systemcolor';

.articleListControle {
  background: url('../../../images/bg.png');
  flex: 1 1 600px;
  a {
    color: $black-tea;
   
    &:hover {
      // font-size: 1.6rem;
      color: $grass-yellow;
      font-weight: bold;
      // text-shadow: 2px 0 1px $black-tea;
    }
  }
  th {
    font-size: 1.4rem;
  }
  td {
    padding: 0 0;
    font-size: 1.4rem;
  }
  .articleList {
    width: 80%;
    margin: 0 auto;
    .page-title {
      @extend %card-title-font;
      font-size: 1.6rem;
      margin: 16px 0;
      display: inline-block;
      &::before {
        content: '';
        margin-right: 8px;
        border: 3px solid $grass-yellow;
      }
    }
  }

  .list-title {
    max-height: 70px;
    max-width: 650px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .noPost {
    font-size: 1.4rem;
  }
  .thumbIcon {
    color: $grass-yellow;
  }
  .trachCanIcon {
    color: $Darjeeling
  }
}
