@import '../../color.scss';
.acTableContainer {
  .nav-tabs {
    a {
      color: darken($color-green, 30%);
    }
  }

  color: $color-black;
  .popover {
    width: 100%;
    border: 1px solid darken($color-green, 5%);
    max-width: 480px;
    .popover-header {
      background: $color-green;
    }
  }
  .acTitle {
    cursor: pointer;
    transition: 0.1s;
    &:hover {
      color: $color-yellow;
      text-shadow: 1px 1px 1px $color-black;
      font-weight: 600;
    }
    &::after {
      display: block;
      content: attr(title);
      font-weight: 600;
      text-shadow: 1px 1px 1px transparent;
      height: 1px;
      color: transparent;
      overflow: hidden;
      visibility: hidden;
    }
    .acTitleBold::after {
    }
  }
  .icon {
    color: $color-black;
    cursor: pointer;
    &:hover {
      text-shadow: 1px 1px 1px $color-black;
      color: $color-yellow;
      background-color: lighten($color-green, 5%);
    }
  }

  .table-striped tbody tr:nth-of-type(odd) {
    background-color: lighten($color-green, 13%);
  }
}
.swal-button--acDYes {
  background: $color-red;
}
.swal-button.swal-button--acDYes:not([disabled]):hover {
  background-color: darken($color-red, 20%);
}
