@import '../../../pages/Forum/scss/systemcolor';

.forumPage {
  .massage-frame {
    margin: 16px auto;
    padding: 8px 32px;
    max-width: 1000px;
    border: 2px solid $grey-grey50;
    border-radius: 5px;
    align-items: center;
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
    }
    .writer {
      font-size: 1rem;
      padding: 8px 0;
    }
    .writer-d {
      padding-left: 16px;
      .writer-name {
        color: $Darjeeling;
      }
      * {
        padding-bottom: 4px;
      }
    }
    .avatar-sm {
      width: 50px;
      height: 50px;
    }
    .pre-content {
      font-family: 'Microsoft JhengHei', 'Noto Sans TC', sans-serif !important;
      width: 100%;
      padding: 8px 16px;
      margin: 8px 0 8px 0;
      word-break: break-all;
      word-wrap: break-word;
      white-space: pre-wrap;
      font-size: 1.2rem;
    }
    .social-area2 {
      margin-top: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .thumb-sm {
        margin: 0 16px 16px 16px;
        color: #ffc408;
        font-weight: bold;
        font-size: 1rem;
        align-items: center;
        .thumb-frame {
          margin-right: 16px;
          width: 35px;
          height: 35px;
          border: 4px solid #ffc408;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }
      }
      .social-icons * {
        margin: 0 4px;
      }
    }
  }
}
