.forumPage .userFrame .title {
  font-size: 1.6rem;
  font-weight: 600;
  color: #2d3a3a;
}

.cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 24px;
}

.displayBlock {
  display: block;
}

.displayNone {
  display: none;
}

.displayInlineBlock {
  display: inline-block;
}

.position-r {
  position: relative;
}

.position-a {
  position: absolute;
}

.dis-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dis-flex-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dis-justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  max-width: 1200px;
}

.container-m {
  max-width: 900px;
}

.cursor-pointer {
  cursor: pointer;
}

.forumPage .card-details {
  font-size: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0 10px 0;
  color: #2d3a3ab6;
}

.forumPage .card-details-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 7px;
}

.forumPage .card-writer-wrapper {
  padding-top: 5px;
}

.forumPage .card-user-link {
  color: #ff525b;
  position: relative;
}

.forumPage .card-user-link:hover {
  text-decoration: none;
  color: #ff525b;
}

.forumPage .categories-name {
  font-weight: bold;
}

.forumPage .card-category-link {
  color: #2d3a3ab6;
  position: relative;
}

.forumPage .card-category-link:hover {
  color: #2d3a3ab6;
}

.forumPage .card-response {
  padding-left: 10px;
}

.forumPage .userFrame {
  background-color: #fff;
  width: 320px;
  position: absolute;
  bottom: 100%;
  left: -60px;
  -webkit-box-shadow: 1px 3px #ccc;
          box-shadow: 1px 3px #ccc;
  border-radius: 5px;
  color: #2d3a3a;
}

.forumPage .userFrame button:focus {
  outline: none;
}

.forumPage .userFrame hr {
  margin: 12px;
  background-color: #cde2d0;
  height: 1px;
  border: none;
}

.forumPage .userFrame .title-line:after {
  content: '';
  display: block;
  width: 100%;
  border: 2px solid #ffc408;
  border-radius: 5px 5px 0 0;
}

.forumPage .userFrame .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 16px 0 16px;
}

.forumPage .userFrame .title .icon {
  color: #ffc408;
}

.forumPage .userFrame .subtitle {
  color: #58b2dc;
  padding-left: 8px;
}

.forumPage .userFrame .introduction {
  padding: 0 8px 0 8px;
  color: #979d9d;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.forumPage .userFrame .followText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 8px 8px 8px;
  font-size: 1.2rem;
}
/*# sourceMappingURL=UserDetails.css.map */