@import '../../color.scss';
.acListHeader {
  .nav {
    display: flex;
    flex-wrap: nowrap;
    button {
      border: 1px solid transparent;
      background: $color-black;
      color: $color-white;
      margin-right: 1rem;
      border-radius: 5px;
      &:hover {
        background: darken($color-black, 5%);
        border: 1px solid $color-yellow;
      }
      &:focus,
      &.active {
        background: darken($color-black, 5%);
        outline: none;
        color: $color-yellow;
      }
    }
  }
  .tagContainer .filter {
    flex-wrap: wrap;
    p {
      margin-left: 0;
    }
  }
}
