.acList {
  .tagContainer {
    justify-content: space-between;
    p {
      margin: 0 1rem;
      line-height: 40px;
    }
  }

  h4{
    font-size: 1.5rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    white-space: normal;
  }

  .eventList {
    border-top: 1px solid #ccc;
  }

  .acItem a {
    display: block;
  }

  .acImg a {
    height: 150px;
    background-position: center center;
    background-size: cover;
  }

  .acIntro {
    max-height: 48px;
  }

  /* 自動隱藏超過行數的內容 */
  .ellipsis {
    overflow: hidden;
    display: -webkit-box;
    /* 行數 */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}
